@import "modules/fonts";
@import "modules/reset";
@import "modules/adaptive-styles";
@import "modules/collapse";

/*---------others---------*/
html,body{
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
}
body{
    &.overflow{
        overflow: hidden;
    }
}
.wrapper{
    width: 100%;
    min-height: 100%;
    background: #181B20;    
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}
.link{
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.013em;
    color: #FFFFFF;
    text-decoration: none;
    opacity: .6;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        opacity: 0;
        width: 0px;
        height: 2px;
        background: #fff;
        transition: all .3s ease 0s;
    }
    &:hover::before{
        width: 100%;
        opacity: 1;

    }
    &:hover{
        opacity: 1;
    }
    cursor: pointer;
}
main{
    overflow:hidden;
}
/*--------------Header start------------*/
.header {
    background: #0A0C0F;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 555;
}
 
/*---------Banner start---------*/

.banner {    
    padding: 7px 0;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: radial-gradient(149.83% 57218.98% at 92.97% 0%, rgba(67, 161, 247, 0.8) 0%, rgba(134, 67, 220, 0.8) 14.06%, rgba(247, 67, 175, 0.8) 28.65%, rgba(247, 128, 112, 0.8) 47.85%, rgba(190, 64, 255, 0.8) 57.29%, rgba(32, 188, 255, 0.8) 71.87%, rgba(0, 247, 158, 0.8) 100%)
    }
}
.banner__body{
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
.banner__text {
    font-weight: 600;
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.013em;
    color: #FFFFFF;
    text-align: center;
    opacity: 0.8;    
    span{
        position: relative; 
        padding-right: 13px;
        &::after{
            content: '';
            position: absolute;
            top: 0; 
            right:  0;
            width: 1px;
            opacity: 1;
            height: 100%;
            background: #FFFFFF;
        }
    }
    
}
.banner__link{
    margin-left: 12px;
}
.banner__button-close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: .3;
    &:hover{
        opacity: 1;
    }
    cursor: pointer;
}

/*----------banner end-------------*/

.header__body {
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.header__list {
    display: flex;
}
.header__link {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.016em;
    color: rgba(255, 255, 255, 0.56);
    margin-left: 20px;
    padding: 6px 12px;
    transition: background .3s ease 0s,color .3s ease 0s;
    border: 1px solid transparent;
    border-radius: 12px;
    &:hover{
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.08);
        border: 1px solid rgba(255, 255, 255, 0.02);        
    }
}

/*---------------Header end-------------*/

/*---------------Unlock start-----------*/
.unlock {
    padding: 0 10px;
    @include adaptiv-padding-top(176,156);
    background: #0A0C0F;
    padding-bottom: 120px;
    border-radius:  0 0 45px 45px;
    margin-bottom: 4px;
    
}
.unlock__title {
    font-weight: 700;
    @include adaptiv-font(130,56);
    line-height: 92%;
    letter-spacing: -0.07em;
    color: #FFFFFF;
    text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
    width: 9em;
    .unlock__style-title {
        background: linear-gradient(267.57deg, #577CFF 0%, #4CBFFF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 16px 64px rgba(78, 185, 255, 0.16);
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(267.57deg, #577CFF 0%, #4CBFFF 100%);
        }
        &:hover{     
            background: #4CBFFF;   
            text-shadow: 0px 16px 64px rgba(78, 185, 255, 0.16);    
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;         
            &::after{
                background: #4CBFFF;;
            } 
    }
    }
    @include adaptiv-margin-bottom(136,64);
}

.unlock__cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: row;
    column-gap: 20px;
}
.block{
    background: #1C1E21;
    border: 1px solid rgba(255, 255, 255, 0.04);
    box-shadow: 0px 24px 48px -24px rgba(10, 12, 15, 0.16);
    backdrop-filter: blur(120px);
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiv-padding-bottom(146,128);
}
.block-bottom{
    position: absolute;
    left: 0;
    @include adaptiv-bottom(24,16);
}
.block__logo{
    @include adaptiv-margin-top(32,12);
    @include adaptiv-margin-left(40,12);
}
.block__images{
    @include adaptiv-margin-left(40,24);
    @include adaptiv-translateY(-36,-28);
    display: flex;
    align-items: flex-end;    
    .block__img{
        margin-right: 7px;
        &:last-child{
            margin-right: 0;
        }
    }
    // @include adaptiv-margin-bottom(40,24);
}
@media (min-width: 48em/*768px*/) {
    .block__img{
        &:nth-child(5),&:nth-child(6),&:nth-child(7),&:nth-child(8),&:nth-child(9),&:nth-child(10){
            opacity: 0;
        }
    }
}
.block__title{
    font-weight: 600;
    @include adaptiv-font(24,20);
    line-height: 133%;
    text-align: center;
    letter-spacing: -0.024em;
    color: #FFFFFF;
    margin: 0 28px;
    @include adaptiv-margin-bottom(12,8);
}
.block__link{
    font-size: 16px;
}
.block__button{
    text-align: center;
    cursor:pointer;
}
/*--------------------------------------------*/
.block__body {
    @include adaptiv-margin-top(64,48);
    @include adaptiv-margin-bottom(72,56);
    display: flex;
    justify-content: center;
    align-items: center;
}
.block__body-checkbox {
    margin: 0 20px;
    input{
        display: none;
    }
    label{
        display: block;
        width: 56px;
        height: 32px;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 100px;
        position: relative;
        transition: background .5s ease 0s;
        img{
            position: absolute;
            top: 8px;
            left: 8px; 
            transition: all .5s ease 0s;           
            
        }
        &::before{
            content: '';
            width: 28px;
            height: 28px;
            position: absolute;
            background: rgba(255, 255, 255, 0.12);
            top: 2px;left: 2px;
            border-radius: 50%;
            transition: all .5s ease 0s;
        }
        &.active{     
            background: linear-gradient(267.57deg, #577CFF 0%, #4CBFFF 100%), #43A1F7;        
            img{
                left: 32px;            
            }
            &::before{
                left: 26px;
                background: #1C1E21;
            }        
    }
    }
    
}
.block-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------------Unlock end------------*/

/*----------------Token start------------*/
.token {
    background: #0A0C0F;
    border-radius: 64px;
    margin-bottom: 4px;
    padding: 0 10px;
}
.token__title {
    font-weight: 700;
    @include adaptiv-font(130,48);
    @include adaptiv-padding-top(120,40);
    @include adaptiv-margin-bottom(112,40);
    line-height: 92%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}
.token__body {
    position: relative;
    z-index: 2;
}
.token__number {
    font-weight: 700;
    @include adaptiv-font(56,32);
    @include adaptiv-margin-bottom(8,2);
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.048em;
    color: #FFFFFF;
}
.token__text {
    font-weight: 500;
    @include adaptiv-font(24,16);
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.36;
    transition: all .3s ease 0s;
    &:hover{
        opacity: 1;
    }
}
.token__number-bg {
    font-weight: 700;
    @include adaptiv-font(80,40);
    line-height: 100%; 
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.token__text-bg {
    font-weight: 500;
    @include adaptiv-font(32,16);
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}
.token__number-1 {
    width: 380px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.token__number-2 {
    width: 380px;
    position: absolute;
    left: 0;
    top: 172px;
    z-index: 2;
}
.token__number-3 {
    width: 380px;
    position: absolute;
    right: 0;
    top: 172px;
    z-index: 2;
}
.token__circle {
    padding-top: 160px;
    position: relative;
    text-align: center;
    max-height: 900px;
}
.token__circle-blure {
    position: absolute;
    top: -20%;
    left: -10%;
    z-index: 1;
    max-height: 247px;
    pointer-events: none;
}
.token__circle-img {
   position: relative;
   overflow: hidden;
   img{
    max-width: 100%;
    max-height: 754px;
   }
}
.token__number-4 {
    position: absolute;
    @include adaptiv-top(170,46);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.token__buttons {
    transform: translateY(-130%);
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    z-index: 2;
}
.token__button {
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0px 40px 64px -30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(16px);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.token__button-img {
    @include adaptiv-margin-top(32,24);
    @include adaptiv-margin-left(32,24);
    @include adaptiv-margin-bottom(53,24);
}
.token__button__link {
    @include adaptiv-margin-left(32,24);
    @include adaptiv-margin-bottom(32,24);
    @include adaptiv-font(32,20);
    display: block;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.032em;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 25px;
    background: url('../img/svg/circle-arrow.svg') center right 5px no-repeat;
    transition: all .3s ease 0s;
    &:hover{
        background-position: center right;
    }
}
/*-----------------Token end-------------*/

/*-----------------Stake start-------------*/
.stake {
    background: #0A0C0F;
    border-radius: 64px;
    margin-bottom: 4px;
    padding: 0 10px;
}
.stake__title {
    font-weight: 700;
    @include adaptiv-font(130,48);
    @include adaptiv-padding-top(120,40);
    line-height: 92%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
    width: 7em;
}
.stake__title-syle {
    font-weight: 700;
    @include adaptiv-font(100,40);
    line-height: 100%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    background: linear-gradient(267.57deg, #FB4A4A 0%, #9B4CFF 100%);
    border: 1px solid #000000;
    border-radius: 60px;
    transform: rotate(-2deg) translateX(-7%);
    display: inline-block;
    @include adaptiv-padding-left(48.8,24.4);
    @include adaptiv-padding-top(25.6,12.8);
    @include adaptiv-padding-right(48.8,24.4);
    @include adaptiv-padding-bottom(25.6,12.8);
    @include adaptiv-margin-bottom(48.2,28.6);
}
.stake__text {
    font-weight: 600;
    @include adaptiv-font(48,20);    
    line-height: 125%;
    letter-spacing: -0.04em;    
    color: rgba(255, 255, 255, 0.3);
    .stake__link{
        font-weight: 600;
        @include adaptiv-font(48,20); 
        line-height: 125%;
        letter-spacing: -0.04em;    
        color: #FFFFFF;
        opacity: 1;
        cursor: pointer;
    }
    @include adaptiv-margin-bottom(64,48);
}
.stake__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiv-padding-bottom(120,40);
}
.stake__blure {
    position: absolute;
    top: -135%;
    left: -10%;
    pointer-events: none;
}
.stake__sub-title {
    font-weight: 100;
    @include adaptiv-font(120,64);
    line-height: 67%;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.08;
    transform: rotate(-90deg);   
    flex:  1 1 10%; 
    margin-left: 5%;
}
.stake__list {
    flex: 1 1 90%;
    li{
        @include adaptiv-margin-bottom(64,32);
        &:last-child{
            margin-bottom: 0;
        }
        @include adaptiv-padding-left(140,39);
    }
    .stake__list-1{
        background: url('../img/svg/stake-1-ico.svg') 0 center no-repeat;
        background-size: 20%;
    }
    .stake__list-2{
        background: url('../img/svg/stake-2-ico.svg') 0 center no-repeat;
        background-size: 20%;
    }
    .stake__list-3{
        background: url('../img/svg/stake-3-ico.svg') 0 center no-repeat;
        background-size: 20%;
    }
}
.stake__list-title {
    font-weight: 700;
    @include adaptiv-font(80,32);
    @include adaptiv-margin-bottom(12,2);
    line-height: 100%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.stake__list-sub-title {
    font-weight: 500;
    @include adaptiv-font(32,16);
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.36;
}
/*------------------Stake end--------------*/

/*------------------Utility start-------------*/
.utility {
    background: #0A0C0F;
    border-radius: 64px;
    margin-bottom: 4px;
    padding: 0 10px;
}
.untility__title {
    font-weight: 700;
    @include adaptiv-font(130,48);
    @include adaptiv-padding-top(120,40);
    @include adaptiv-margin-bottom(136,60);
    line-height: 92%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}
.untility__card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @include adaptiv-margin-bottom(160,48);
    column-gap: 50px;
}
.untility__card-title {
    font-weight: 700;
    @include adaptiv-font(80,32);
    @include adaptiv-margin-bottom(32,12);
    line-height: 100%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.untility__card-text {
    @include adaptiv-font(32,16);
    line-height: 125%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.36);
    margin-right: 47px;
}
.untility__card-link {
    @include adaptiv-font(32,16);
    line-height: 125%;
    letter-spacing: -0.02em;
    color: white;
    opacity: 1;
}
.untility__card-thumb {
    display: flex;
    transform: translateY(-20%);    
    height: 135%;
    min-height: 100px;
}
.untility__card-block {
    font-weight: 600;
    @include adaptiv-font(20,7);
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 16px 27px;
    // @include adaptiv-padding-left(27,10);
    // @include adaptiv-padding-right(27,10);
    // @include adaptiv-padding-bottom(16,5);
    background: rgba(255, 255, 255, 0.08);
    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    margin-top: auto;
    @include adaptiv-margin-right(20,8);
    transition: padding 1s ease 0s;
    &:nth-child(1){
        margin-bottom: -3.3%;
        transition-delay: 0;
    }
    &:nth-child(2){
        transition-delay: .1s;
    }
    &:nth-child(3){
        margin-bottom: 3.3%;
        transition-delay: .2s;
    }
    &:nth-child(4){
        margin-bottom: 6.5%;
        transition-delay: .3s;
    }
    &:nth-child(5){
        transition-delay: .4s;
        margin-bottom: 10.3%;
        background: linear-gradient(43.67deg, #FFC657 24.69%, #FFD977 75.86%);
    }
    &.active{
       @include adaptiv-padding-top(224,86);
    }
}

.js-utility-2{
    align-items: center;
}
.untility__card-dots  {
    position: relative;
    &.active{
        .untility__card-dots-2,.untility__card-dots-3{
            opacity: 1;
        }
    }
    height: 100%;
}
.untility__card-dots-1 {
    position: absolute;
    z-index: 1;
}
.untility__card-dots-2 {
    position: absolute;
    transition: all .5s ease 0s;
    opacity: 0;
    z-index: 2;
}
.untility__card-dots-3 {
    position: absolute;
    transition: all .5s ease .5s;
    opacity: 0;
    z-index: 3;
}

.untility__card-3{
    align-items: center;
    margin-bottom: 12px;
}
.lighters {
    position: relative;
    border-radius: 100%;  
    height: 550px;
    &.active{
        .lighters-blure{
            background: transparent;
        }
        .lighters__light{
            transform: translate(-50%,-50%) scale(1);
        }
    }
}
.lighters-blure{
    position: absolute;
    background: #0A0C0F;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    border-radius: 100%;
    transition: all .7s ease 0s;    
}
.lighters__light {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(.7);
    z-index: 3;
    transition: all .7s ease 0s;
}
.lighters__circle-top {    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.lighters__circle-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.lighters__circle-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.lighters__circle-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.untility__button {    
    display: flex;
    justify-content: center;
    .untility__button-link{
        padding: 24px 48px;
        @include adaptiv-font(24,16);
        font-weight: 700;
        line-height: 133%;
        letter-spacing: -0.024em;
        color: #0A0C0F;
        background: #FFFFFF;
        border-radius: 24px;        
        cursor: pointer;
        transform: scale(.8);
        transition: all .3s ease 0s;
        &:hover{
            transform: scale(1);            
        }
    }
    @include adaptiv-padding-bottom(120,20);
}
/*-------------------Utility end--------------*/

/*------------------Support start---------------*/
.support {
    background: #0A0C0F;
    border-radius: 64px;
    margin-bottom: 4px;
    padding: 0 10px;
}
.support__title {
    font-weight: 700;
    @include adaptiv-font(130,48);
    @include adaptiv-margin-bottom(60,20);
    @include adaptiv-padding-top(120,40);
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}
.support__body {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 120px;
}
.support__blure {
    position: absolute;
    top: -9%;
    left: -10%;
    pointer-events: none;
}
.support__info{
    text-align: center;
    position: absolute;    
    top: 50%;
    transform: translateY(-50%);
}
.support__info-1{
    left: -10%;
}
.support__info-2{
    right: 5%;
}
.support__left {
    position: relative;
    transform: translate(12%);
}
.support__sub-title {
    font-weight: 700;
    @include adaptiv-font(80,32);
    @include adaptiv-margin-bottom(12,2);
    line-height: 100%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.support__text {
    font-weight: 500;
    @include adaptiv-font(32,16);
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.36;
}
.support__right {
    position: relative;
    transform: translate(-12%);
}
/*-------------------Support end----------------*/
/*-------------------How to buy start---------------*/
.how-to-buy {
    background: #0A0C0F;
    border-radius: 64px;
    margin-bottom: 4px;
    padding: 0 10px;
}
.how-to-buy__title {
    font-weight: 700;
    @include adaptiv-font(130,48);
    @include adaptiv-padding-top(106,40);
    @include adaptiv-margin-bottom(100,36);
    text-align: center;
    line-height: 92%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    text-shadow: 0px 32px 64px rgba(255, 255, 255, 0.08);
}
.steps__item {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 20px;
    margin-bottom: 16px;
    position: relative;
    img{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        max-width: 100%;
        padding: 0 15px;
    }
}
.steps__img {
    height: 600px;
    background: #22252A;
    border-radius: 48px;
    position: relative;
    z-index: 1;
    width: 100%;
    max-height: 600px;
}
.steps__step {
    font-weight: 700;
    @include adaptiv-font(16,12);
    @include adaptiv-margin-bottom(32,28);
    padding: 8px 24px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    line-height: 150%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.56;
    display: inline-block;
}
.steps__title {
    font-weight: 700;
    @include adaptiv-font(80,32);
    @include adaptiv-margin-bottom(24,12);
    width: 7.25em;
    line-height: 100%;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.steps__sub-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.016em;
    color: #FFFFFF;
    @include adaptiv-margin-bottom(24,12);
}
.steps__text {
    font-weight: 500;
    @include adaptiv-font(32,16);
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.36;
    width: 500px;
}
.how-to-buy__button {
    display: flex;
    justify-content: center;
    .how-to-buy__link 
    {
        padding: 24px 48px;
        @include adaptiv-font(24,16);
        font-weight: 700;
        line-height: 133%;
        letter-spacing: -0.024em;
        color: #0A0C0F;
        background: #FFFFFF;
        border-radius: 24px;        
        cursor: pointer;
        transform: scale(.8);
        transition: all .3s ease 0s;
        text-decoration: none;
        &:hover{
            transform: scale(1);            
        }
    }
    @include adaptiv-padding-bottom(80,40);
}

/*--------------------How to buy end----------------*/

/*-------------------Questions start--------------*/
.questions{
    background: #0A0C0F;
    border-radius: 64px 64px 0px 0px;
    border: 1px solid rgba(255, 255, 255, 0.06);
    padding: 0 10px;
}
.questions__title {
    font-weight: 700;
    @include adaptiv-font(80,48);
    @include adaptiv-padding-top(120,40);
    margin-bottom: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.questions__sub-title {
    font-weight: 500;
    @include adaptiv-font(32,20);
    @include adaptiv-margin-bottom(32,20);
    line-height: 125%;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.36);
}
.questions__links {
    display: flex;
    justify-content: center;
    @include adaptiv-margin-bottom(80,48);
}
.questions__link {
    font-weight: 600;
    @include adaptiv-font(32,20);
    line-height: 125%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #43A1F7;
    padding-left: 1.4em;
    text-decoration: none;
    position: relative;
    transition: all .3s ease 0s;
    &::before{
        position: absolute;
        top: 50%;   
        left: 0;
        transform: translateY(-50%);
    }
    &:hover{
        opacity: .6;
    }
    span{
        margin-right: 50px;
    }
    
}
.questions__link-tel{
    &::before{
        content: url('../img/svg/telegram-ico.svg');
    }
}
.questions__link-disc{
    &::before{
        content: url('../img/svg/discord-ico.svg');
    }
}
.questions__link-sup{
    &::before{
        content: url('../img/svg/headphones-ico.svg');
    }
}
.questions__accordion {
    width: 60%;
    margin: 0 auto;
    @include adaptiv-padding-bottom(120,80);
}
.accordion__item {
    text-align: left;
    @include adaptiv-margin-bottom(16,8);
    transition: all .3s ease 0s;
    border-radius: 17px;
    &._active{
        .accordion__header{
            border-radius: 17px 17px 0 0;
            &::before{
                transform: rotate(180deg);
                background: #43A1F7;
                box-shadow: 0px 12px 40px -12px rgba(67, 161, 247, 0.5), inset 0px 6px 16px rgba(255, 255, 255, 0.16);
            }
        }
        border: 1px solid #43A1F7;
        border-radius: 17px;

    }
}
.accordion__header {
    font-weight: 600;
    @include adaptiv-font(24,16);
    line-height: 133%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    background: #181B20;
    border-radius: 24px;
    @include adaptiv-padding-left(24,14);
    @include adaptiv-padding-bottom(24,14);
    @include adaptiv-padding-top(24,14);
    padding-right: auto;
    position: relative;
    transition: all .3s ease 0s; 
    &::before{
        content: url('../img/svg/collapse-ico.svg');
        float: right;
        margin: 0 16px;
        padding: 2px 17px 8px 17px;
        background: #22252A;
        border-radius: 100px;     
        transition: all .3s ease 0s;
    }
}
.information {
    background: #181B20;
    @include adaptiv-padding-left(24,14);
    border-radius: 0 0 17px 17px;
    transition: all .3s ease 0s;
}
.information__title {
    font-weight: 500;
    @include adaptiv-font(20,16);
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    @include adaptiv-margin-bottom(16,12);
}
.information__list {
    li{
        font-weight: 500;
        @include adaptiv-font(20,16);
        line-height: 140%;
        letter-spacing: -0.02em;
        color: #ffffff41;
        position: relative;
        @include adaptiv-padding-left(32,28);
        padding-right: 10px;
        &::before{
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 12px;
            height: 12px;
            background: #43A1F7;
            border-radius: 100%;
        }
        padding-bottom: 12px;
    }
}
/*--------------------Questions end---------------*/

/*--------------------Footer start----------------*/
.footer {
    padding: 0 10px;
    padding-top: 38px;
    padding-bottom: 56px;
    background: #0A0C0F;
}
.footer__body {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.footer__list {
    li{
        margin-bottom: 10px;
    &:first-child{
        margin-bottom: 12px;
    }
    &:last-child{
        margin-bottom: 0;
    }
    }
}
.footer__link {
    font-weight: 500;
    @include adaptiv-font(16,12);
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.56);
    text-decoration: none;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        opacity: 0;
        width: 0px;
        height: 2px;
        background: #fff;
        transition: all .3s ease 0s;
    }
    &:hover::before{
        width: 100%;
        opacity: 1;
    }
    &:hover{
        opacity: .7;
        color: white;
    }
    cursor: pointer;
}
.footer__link-main {
    @include adaptiv-font(18,14);
    color: #FFFFFF;
    &:hover{
        opacity: 1;
    }
}
.footer__link-opacity {
    color: rgba(255, 255, 255, 0.24);
}
/*---------------------Footer end-----------------*/

/*------------------Media start--------------*/

@media (max-width: 1306px) {
    .stake__main-info{
        margin-left: 5%;
    }
}
@media (max-width: 1218px) and (min-width:753px) {
    .unlock__cards {        
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 20px;
    }
    .block{
        min-width: 320px;
    }
    .block-gift{
        grid-column: 2/4;
        grid-row: 2/4;
    }
    .block-line{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    .block-apy{
        grid-column: 1/3;
        grid-row: 1/2;
    }
}
@media (max-width: 1216px) {
    .banner__button-close{
        position: relative;
    }
}
@media (max-width: 1094px) {
    .stake__body{
        flex-direction: column;
        padding-left: 20px;
    }
    .stake__sub-title{
        transform: rotate(0);
        @include adaptiv-margin-bottom(50,32);
    }
    .token__buttons{
        transform: translateY(-200%);
    }
    .accordion__header{
        &::before{
            padding: 7px 17px 12px 17px;
            margin-top: -10px;
        }
    }
}
@media (max-width: 1009px) {
    .token__circle-blure{
        left: -18%;
    }
}
@media (max-width: 966px) {
    .support__body{
        transform: rotate(90deg);
        padding-bottom: 0;
        .support__info{
            transform: rotate(-90deg);
        }
        .support__info-1{
            right:  -30%;
            top: 40%;
        }
        .support__info-2{
            left: -30%;
            bottom: 40%;
        }
        .support__blure{
            img{
                width: 600px;
                height: 1000px;
            }
            left: 20%;
            top: -40%;
        }
    }
    .support{
        padding-bottom: 200px;
    }
    .untility__card{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
        padding: 0 20px;
        align-items: start;
        .untility__card-thumb,.untility__card-dots{
            order: 1;
        }
        .untility__card-body{
            order: 2;
        }
        .untility__card-dots{
            margin-bottom: 40%;
        }
        .lighters{
            width: 70%;
        }        
    }
    .untility__title{
        text-align: center;
    }
    .js-utility-2{
        margin-top: -10%;
    }
    .js-utility-3{
        margin-top: -16%;
    }
    .untility__button{
        margin-top: -370px;
    }
    .steps__img{
        height: 500px;
    }
    .token__circle-img img{
        min-width: 70%;
    }
    .token__circle{
        padding-top: 250px; 
    }
    .untility__card-thumb{
        height: 100%;
    }
}
@media (max-width: 900px) {
    .token__buttons{
        width: 100%;
    }
    .token__circle-blure{
        left: -20%;
    }
}
@media (max-width: 850px) {
    .untility__card .untility__card-dots{
        margin-bottom: 350px;
    }
    .steps__img{
        height: 400px;
    }
    .support__body{
        margin-top: -12%;
    }
}
@media (max-width: 800px) {
    .token__buttons{
        transform: translateY(-250%);
    }
    .stake__blure{
        left: -15%;
    }
    .js-utility-2{
        margin-top: -90px;
    }
    .support__body .support__blure{
        left: 25%;
        top: -49%;
    }
}
@media (max-width: 794px) {
    .untility__card .lighters{
        width: 80%;
    }
    .js-utility-3{
        margin-top: -200px;
    }
    .questions__accordion{
        width: 80%;
    }
}
@media (max-width: 784px) {
    .token__circle-img img{
        width: 80%;
    }
    .token__buttons{
        transform: translateY(-170%);
    }
    .token__circle-blure{
        left: -300px;
    }
    .stake__blure{
        left: -170px;
    }
    .support__body .support__info-2{
        bottom: 50%;
    }
}
@media (max-width: 781px) {
    .banner__link{
        padding-right: 16px;
    }
    .support__title {
        margin-bottom: 0;
    }
    .steps__img{
        height: 350px;
    }
}
@media (max-width: 765px) {
    .steps__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 44px;
    }
    .steps__text{
        width: 100%;
    }
    .steps__info{
        margin-bottom: 30px;
    }
    .steps__img{
        height: 550px;
    }
    .steps__img-1{
        height: 400px;
    }
    .steps__title {
        width: 100%;
    }
}
@media (max-width: 752px) {
    .unlock__cards {
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
    }
    .block{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 320px;
        max-width: 70%;
        .block-bottom{
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
        }
    }
    .unlock{
        @include adaptiv-padding-left(30,20);
    }
}
@media (max-width: 743px) {
    .banner__text{
        span{
            &::after{
                display: none;
            }
        }
    }
    .banner__link{
        padding-left: 0;
        padding-right: 20px;
        margin-right: 10px;
        margin-left: 0;
        background: url('../img/svg/circle-arrow.svg') 95% 4px no-repeat;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        opacity: 1;
        letter-spacing: -0.013em;
        color: #FFFFFF;
        transition: all .3s ease 0s;
        &::before{
            display: none;
        }
        &:hover{
            background-position: 100% 4px;
        }
    }
    .support{
        padding-bottom: 300px;
    }
    .banner__button-close{
        margin-left: 15px;
    }
}
@media (max-width: 700px) {
    .untility__card .lighters{
        width: 100%;
    }
    .stake__blure{
        left: -200px;
    }
    .support__body .support__blure{
        left: 220px;
    }
    .token__number-2,.token__number-3{
        top: 130px;
    }
}
@media (max-width: 672px) {
    .support__body{
        margin-top: -170px;
    }
    .stake__blure{
        top: -800px;
    }
    .token__number-2{
        text-align-last: left;
    }
    .token__number-3{
        text-align-last: right;
    }
    .token__circle-blure{
        left: -350px;
        top: -30%;
    }
    .token__circle{
        height: 750px;
    }
    .questions__accordion{
        width: 90%;
    }
}
@media (max-width: 630px) {
    .js-utility-2{
        margin-top: -40px;
    }
    .steps__info {
        width: 100%;
    }
    .support__body{
        margin-top: -200px;
    }
}
@media (max-width: 600px) {
    .header__burger{
        position: relative;
        height: 14px;
        width: 20px;
        &:before,&::after{
            content: '';
            background-color: #fff;
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            transition: all .3s ease 0s;
        }
        &:before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        span{
            position: absolute;
            top: 7px;
            background-color: #fff;
            width: 100%;
            height: 1px;
            left: 0;
            transition: all .3s ease 0s;
        }
        &.active{
            span{
                transform: scale(0);
            }
            &:before{
                top: 7px;
                transform: rotate(405deg);
            }
            &::after{
                top: 7px;
                transform: rotate(315deg);

            }
        }
    }
    .header__banner,.header__logo,.header__burger{
        position: relative;
        z-index: 2;
    }
    .header__body{
        justify-content: space-between;
    }
    .header__menu{
        position: fixed;
        background: #0A0C0F;
        top: 0;
        left: 0;
        padding-top: 150px;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all .5s ease 0s;
        transform: translateX(-100%);
        overflow: auto;
        opacity: 0;
        &.active{
            transform: translateX(0);
            opacity: 1;
        }
        .header__list{
            display: flex;
            flex-direction: column;
            li{
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    @include adaptiv-font(50,32);
                    opacity: 1;
                    color: white;
                    position: relative;
                    background: none;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: -4px;
                        left: 0;
                        opacity: 0;
                        width: 0px;
                        height: 2px;
                        background: #fff;
                        transition: all .3s ease 0s;
                    }
                    &:hover::before{
                        width: 100%;
                        opacity: 1;                
                    }
                }
            }
        }
    }
    .unlock__title{
        width: 100%;
    }
    .questions__links{
        li{
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .questions__link span{
        display: none;
    }
    .token__circle{
        height: 100%;
    }
    .token__circle-blure{
        left: -180px;
        top: -15%;
        img{
            max-width: 135%;
        }
    }
    .footer{
        display: none;
    }
    .token__buttons {
        display: flex;
        flex-direction: column;
        transform: translateY(-70%);
        .token__button{
            justify-content: center;
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
@media (max-width: 580px) {
    .support{
        padding-bottom: 350px;
    }
    .token__circle-blure{
        left: -200px;
    }
    .block{
        max-width: 90%;
    }
    .token__circle-img img{
        width: 90%;
    }
    .stake__list li{
        padding-left: 70px;
    }
}
@media (max-width: 560px) {
    .accordion__header::before{
        padding: 8px 17px 12px 17px;
    }
}
@media (max-width: 516px) {
    .block{
        max-width: 100%;
    }
    .untility__card-dots-1,.untility__card-dots-2,.untility__card-dots-3{
        img {
            width: 100%;
        }
    }
}
@media (max-width: 500px) {
    .token__number-1,.token__number-2,.token__number-3{
        left: 50%;
        transform: translateX(-50%);
        text-align-last: center;
    }
    .token__number-3{
        top: 100px;
    }
    .token__number-2{
        top: 180px;
    }
    .token__circle{
        padding-top: 300px;
    }
    .support__body{
        margin-top: -270px;
    }
    .lighters {
        height: 450px;
    }
    .lighters__light,.lighters__circle-top,.lighters__circle-bottom,.lighters__circle-left,.lighters__circle-right{
        img{
            width: 90%;
        }
    }
    .untility__button{
        margin-top: -300px;
    }
}
@media (max-width: 482px) {
    .token__circle-img img{
        width: 415px;
    }
    .token__buttons{
        transform: translateY(-190px);
    }
    .lighters__light,.lighters__circle-top,.lighters__circle-bottom,.lighters__circle-left,.lighters__circle-right{
        img{
            width: 70%;
        }
    }
    .lighters {
        height: 400px;
    }
    .untility__button{
        margin-top: -250px;
    }
    
}
@media (max-width: 453px) {
    .support__body{
        margin-top: -300px;
    }
    .untility__card-block{
        padding-left: 21px;
        padding-right: 21px;
    }
    .untility__card .untility__card-dots{
        margin-bottom: 270px;
        margin-top: 40px;
    }
}
@media (max-width: 432px) {
    .lighters__light,.lighters__circle-top,.lighters__circle-bottom,.lighters__circle-left,.lighters__circle-right{
        img{
            width: 60%;
        }
    }
    .lighters {
        height: 380px;
    }
    .untility__card .lighters{
        width: 100vw;
        margin-top: 50px;
    }    
    .lighters.active .lighters__light{
        transform: translate(-58%, -50%) scale(1);
    }
    .steps__img{
        height: 400px;
    }
    .steps__img-1{
        height: 300px;
    }
}
@media (max-width: 415px) {
    .block__images{
        margin-top: 10px;
        width: 90%;
        align-self: start;
    }
    .support__body{
        margin-top: -100px;
    }
    .support__body .support__blure img{
        width: 500px;
        height: 900px;
    }
    .support__body .support__blure {
        left: 60px;
        top: -90%;
    }
    .support__left,.support__right{
        img{
            width: 300px;            
        }        
    }
    .support{
        padding-bottom: 300px;
    }
}
@media (max-width: 400px) {
    .token__circle-img img {
        width: 350px;
    }
    .unlock{
        padding-left: 10px;
    }
    .block__img-third{
        img{
            max-width: 100%;
        }
    }
    .stake__blure{
        left: -300px;
    }
    .untility__card .untility__card-dots{
        margin-bottom: 250px;
    }
    .accordion__header::before{
        padding: 9px 17px 12px 17px;
    }
}
@media (max-width: 387px) {
    .block__img{
        img{            
            &:nth-child(1){
                width: 20px;
            }
        }
       
    }
    .block__images .block__img{
        margin-right: 8px;
    }
    .block{
        min-width: 250px;
    }
    .untility__card-block{
        padding-left: 17px;
        padding-right: 17px;
    }
}
@media (max-width: 356px) {
    .lighters__light,.lighters__circle-top,.lighters__circle-bottom,.lighters__circle-left,.lighters__circle-right{
        img{
            width: 50%;
        }
    }
    .accordion__header{
        padding-right: 2px;
    }
    .untility__card .lighters{
        margin-top: 70px;
    }
    .lighters {
        height: 300px;
    }
    .support{
        padding-bottom: 250px;
    }
    .token__buttons {
        transform: translateY(-150px);
    }
    .token__circle-img img{
        width: 300px;
    }
    .steps__img{
        height: 320px;
    }
    .steps__img-1{
        height: 260px;
    }
}
@media (max-width: 323px) {
    .block__images{
        margin-top: 17px;
    }
    .block__img{
        img{ 
            &:nth-child(1){
                width: 18px;
            }
        }       
    }
    .block__images .block__img{
        margin-right: 7px;
    }
    .untility__card-block{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 308px) {
    .block__img{
        img{ 
            &:nth-child(1){
                width: 15px;
            }
        }       
    }
    .block__images{
        transform: translate(0);
    }
    .steps__img{
        height: 300px;
    }
    .steps__img-1{
        height: 220px;
    }
}